* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
  color: rgb(10, 10, 10);
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");

body {
  background-color: rgb(251, 251, 251);
}

.logo {
  width: 150px;
}

main {
  text-align: center;
}

.headline {
  font-size: 52px;
}

header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}

.product-img {
  height: 400px;
}
.img-container {
  overflow: hidden;
  text-align: center;
}

/* DETAIL CONTAINER */

.detail-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.detail-container a {
  text-decoration: none;
}

.detail-card {
  margin-bottom: 100px;
  width: 600px;
  height: 500px;
  padding: 10px 25px 0;
  background-color: rgba(224, 215, 215, 0.397);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.detail-card img {
  height: 300px;
}

.detail-card:hover {
  background-color: rgb(218, 218, 218);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.add-cart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.add-cart p {
  padding: 10px;
}
.add-cart p:hover {
  cursor: pointer;
}

.detail-price {
  font-size: 30px;
  font-weight: 500;
}

/* CARD ON MAIN PAGE */

.card {
  margin: 25px;
  margin-bottom: 50px;
  height: 500px;
  width: 350px;
  background-color: rgb(200, 195, 195);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
  background-color: rgb(218, 218, 218);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button {
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  color: whitesmoke;
  background-color: rgb(77, 76, 76);
  border-radius: 2px;
}

button:hover {
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
}

/* LOGIN PAGE */

.login-container {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 1px grey solid;
  justify-content: center;
}
.login-inner-container input {
  margin: 10px;
  cursor: pointer;
}
